@import "tailwindcss";

@theme {
  --color-primary: #4c92c9;
  --color-primary-container: #3371a3;
  --color-surface: #fdf9f4;
  --color-surface-container-low: #f7f3ef;
  --color-surface-container-lowest: #ffffff;
  --color-error: #ba1a1a;
  --color-tertiary: #2da843;
  --color-outline-variant: #bec9c5;
  --color-on-surface: #1c1b19;
  --color-on-primary-fixed-variant: #003258;
  --color-surface-dim: #d8d4d0;
  --color-on-surface-variant: #49454f;

  --font-sans: var(--font-inter);
  --font-public-sans: var(--font-public-sans);

  --shadow-ambient: 0 8px 48px rgba(28, 27, 25, 0.06);
}

body {
  background: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-sans), sans-serif;
}
